<div class = "partial editpage">
{{- if .File }}
  {{ $.Scratch.Set "minimalFilePath" (path.Join (default "content" .Site.Params.contentDir) .File.Path) }}
{{ else }}
  {{ $.Scratch.Set "minimalFilePath" false }}
{{ end -}}

{{- if $.Scratch.Get "minimalFilePath" }}
<div align="right">
</page-source>(themes/minimal-theme/layouts/partials/editpage.html)</page-source>
<a href="{{ $.Site.Params.githubRepo }}/{{ path.Join $.Site.Params.githubEditPath ($.Scratch.Get "minimalFilePath") }}">
  Edit Page</a>
  </div>
{{ end -}}
</div>