<div class="partial navigation partial-navigation">
  {{- partial "source.html" (dict "siteparams" $.Site.Params "file" "partials/navigation.html") -}}
 <hr/>
 <ul>
  {{ template "complete_navigation" (dict  "currentPage" . "navPage" .Site.Home ) }}
</ul>
<!-- further attributes:
  <small>{{.Title}}{{.RelPermalink }} ({{.Kind}}- {{ .Weight}})</a> ---
{{.Type }},{{.LinkTitle }},{{.Name }},{{.Title }}</small> -->
</div>

{{ define "complete_navigation" }}
  {{ $navPage := .navPage }}
  {{ $currentPage := .currentPage }}
  
  {{ $active_class := cond (eq $currentPage $navPage) "active" "" }}

    {{ with $navPage }}
      <li class = "{{$active_class}}">
        Weight {{ .Weight }}:<a href= "{{ .Permalink }}">
          <bold>{{ .RelPermalink}} ({{.Title }})</bold></a>
      </li>
      {{ if .Pages }}
          <ul>
          {{ range sort .Pages "Weight"}}
                {{ template "complete_navigation" (dict  "currentPage" $currentPage "navPage" . ) }}
          {{ end }}
          </ul>
      {{ end }}
    {{ end }}
{{ end }}

