<div class="partial navigation partial-navigation">
  {{- partial "source.html" (dict "siteparams" $.Site.Params "file" "partials/navigation.html") -}}
 
<!-- from sitemap.html in bkleinen.github.io -->
<ul>
{{ template "complete_navigation" (dict  "currentPage" . "navPage" . ) }}
</ul>
<!-- further attributes:
  <small>{{.Title}}{{.RelPermalink }} ({{.Kind}}- {{ .Weight}})</a> ---
{{.Type }},{{.LinkTitle }},{{.Name }},{{.Title }}</small> -->
</div>

{{ define "complete_navigation" }}
  {{ $navPage := .navPage }}
  {{ $currentPage := .currentPage }}
  
  bla
  {{ $currentPage }}
  {{ $navPage }}
    {{ with $navPage }} 
      {{ if .Pages }}
      <li>
        {{.RelPermalink }}:</li>
          <ul>
            <li>
              <a href= "{{ .Permalink }}">
              Index ({{.Title }})</a></li>
          {{ range sort .Pages "Kind"}}
                {{ template "complete_navigation" (dict  "currentPage" $currentPage "navPage" . ) }}
          {{ end }}
          </ul>
      {{ else }}
          <li><a href= "{{ .Permalink }}">
              {{.Title }}</a></li>
      {{ end }}
    {{ end }}
{{ end }}


 