page-source{
    font-size: 12px;
    font-family: courier;
}
header, head, .partial-head, .block-main, .partial {
    padding: 3px 10px;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid darkgray;
    background-color: #A9D1D9;
  }
  


.block-main {
  background-color: #d9baa0a0;
}
.partial-head, .footer {
  background-color: #84628e6c;

}

