page-source{
    font-size: 12px;
    font-family: courier;
}
header, head, .partial-head {
    padding: 3px 10px;
    font-family: sans-serif;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid darkgray;
    background-color: #A9D1D9;
  }
  
head {
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #e1e4e8;
    background-color: lightblue;
  }

.block-main {
  background-color: #D9BAA0;
}
.partial-head {
  background-color: #84628E;
}

