<!DOCTYPE html>
<html>
    <head>
      {{- partial "sass.html" . -}}
      {{- partial "head.html" . -}}
    </head>
    <body>
        
        {{- partial "header.html" . -}}
        <table class = "two-columns"><tr><td>
          <div id="navigation" class = "block-navigation">
          {{ partial "navigation" . }}
          </div>
      </td><td width ="30">&nbsp;</td>
      <td valign = "top">
        <div id="content" class = "block-main">
        {{- block "main" . }}{{- end }}
        </div>
      </td></tr></table>
        {{- partial "footer.html" . -}}
    </body>
</html>
